<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
    <%- include('../partials/header'); %>
    <body class="bg-dark text-light">
        <div class="container text-center mt-5">
            <h1>404 Not Found</h1>
            <h4>The page that you're looking for foesn't exist!</h4>
            <br><br><br>
            <a href="/portofolio" class="btn btn-lg btn-primary">Go To Dasboard</a>
        </div>

        <!-- Footer -->
        <%- include('../partials/footer'); %>
    </body>
</html>