<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
    <%- include('./partials/header'); %>
    <body class="bg-dark text-light">
        <div class="container text-center mt-5">
            <h1>CMS Project</h1>
            <h4>Control Management System</h4>
            <br><br><br>
            <a href="/login" class="btn btn-lg btn-primary">Log In</a>
        </div>

        <!-- Footer -->
        <%- include('./partials/footer'); %>
    </body>
</html>